.category {
  text-align: center;
  font-family: "Source Code Pro", monospace;
}

.categoryContainer {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.categoryCard {
  color: #f3ebeb;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40vh;
  width: 20vh;
  margin: 1.5rem;
  padding: 0.5rem;
  border-radius: 15px;
  background-color: #0e0d0d;
  border: 2px black solid;
  box-shadow: 1px 1px 1px rgba(18, 17, 17, 0.3);
}

.cardImage {
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}
