/* Styling for "Categories-page */
.category {
  text-align: center;
}

.categoryContainer {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.categoryCard {
  transition: all 300ms;
  color: #f3ebeb;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40vh;
  width: 20vh;
  margin: 1.5rem;
  padding: 0.5rem;
  border-radius: 15px;
  background-color: #4a0644;
  border: 2px black solid;
  box-shadow: 1px 1px 1px rgba(18, 17, 17, 0.3);
}

.cardImage {
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

/* Responsive design adjustments for larger screens  */
@media (min-width: 768px) {
  .categoryCard:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.5s;
    cursor: pointer;
  }
}
