.category {
  text-align: center;
  font-family: "Source Code Pro", monospace;
}

.categoryContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
}

.categoryCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 15rem;
  width: 10rem;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 15px;
  background-color: #888383;
  border: 2px black solid;
  box-shadow: 1px 1px 1px rgba(18, 17, 17, 0.3);
}

.cardImage {
  width: 100%;
  height: auto;
  border-radius: 15px;
}
