/* Styling for "Categories-page */
.category {
  text-align: center;
}

.categoryContainer {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.categoryCard {
  transition: all 500ms;
  color: #f3ebeb;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40vh;
  width: 20vh;
  margin: 1.5rem;
  padding: 0.5rem;
  border-radius: 15px;
  background-color: #4a0644;
  border: 2px black solid;
  box-shadow: 1px 1px 1px rgba(18, 17, 17, 0.3);
}

.cardImage {
  width: 100px;
  height: 190px;
  object-fit: cover;
  border-radius: 15px;
}

@media (min-width: 768px) {
  .categoryCard:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.5s;
    cursor: pointer;
  }
}

  /*shop stuff*/
.centering {
  width: 100%;
  height: 100%;
}
.cardFlex {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.btnReturn {
  background-color: #6016c1;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  color: #f3ebeb;
  width: 200px;
  height: 50px;
}