/* SHOPPING CART */
.shoppingCart {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 10px;
}

.shopping_list {
  width: 65%;
  margin: 15px;
  padding: 5px;
}

/* LIST ITEMS */
.list_item {
  background-color: grey;
  border-radius: 20px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list_item > img {
  border: 1px solid white;
  border-radius: 20px;
  margin-right: 10px;
}

.item_info {
  margin-right: auto;
}

.item_increment {
  color: white;
  text-align: center;
}

.item_increment > button {
  border: white solid 1px;
  border-radius: 20px;
  background-color: black;
  color: white;
  font-size: 25px;
}

/* CHECKOUT SECTION */
.checkout {
  width: 100%;
  border-top: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkout > button {
  background-color: rgb(251, 94, 94);
  border-radius: 20px;
  border: none;
  padding: 10px;
}
.ImagesProducts {
  height: 100px;
}