.list_item {
  background-color: grey;
  border-radius: 20px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  width: 250px;
}

.list_item > img {
  border: 1px solid white;
  border-radius: 20px;
  margin-right: 10px;
}

.item_info {
  margin-right: auto;
}

.item_increment {
  color: white;
  text-align: center;
}

.item_increment > button {
  border: white solid 1px;
  border-radius: 20px;
  background-color: black;
  color: white;
  font-size: 25px;
}

.ImagesProducts {
  height: 100px;
}
