/* Styling for hamburger dropdown */
.Background {
  background-color: #f3ebeb;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid black;
}
.CrossOut {
  text-align: center;
}
.WrapCatagories {
  display: flex;
  /* flex-direction: row; */
  font-size: 20px;
  gap: 50px;
  margin-top: 30px;
}
.WrapCatagories a {
  text-decoration: none;
  color: #0e0d0d;
  font-weight: bold;
}
.WrapCatagories > p {
  margin: 10px;
  font-size: 20px;
}
.homecat {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}
.rowThemMenu {
  display: flex;
  flex-direction: column;
  /* flex-direction: row; */

  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}
.MenuImg {
  width: 40px;
}
.logoutxicon {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 40px;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .Background {
    display: flex;
  }
  .WrapCatagories {
    display: contents;
    align-items: center;
    width: 100%;
  }
}
