.productImg {
  width: 100%;
  height: 300px;

  margin-top: 5px;
  object-fit: contain;
}
.cardProduct {
  background-color: #4a0644;
  border-radius: 12px;
  text-align: center;
  color: #f3ebeb;

  display: flex;
  flex-direction: column;

  margin: 10px;
  height: 640px;
}
.cardProduct > div > p {
  font-weight: 800;
}

.containProduct {
  padding: 5px;
}
.productBtn {
  background-color: #6016c1;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  color: #f3ebeb;
  width: 200px;
  height: 50px;
}
.descStyles {
  height: 85px;
  color: #f3ebeb;
  font-weight: 800;
  padding: 0px 10px 0px 15px;
  overflow-y: scroll;
}
.productBtn:hover {
  background-color: #390979;
}

/* Styling for scrollbar on item description */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f3ebeb;
}

::-webkit-scrollbar-thumb {
  background: #484747;
}

::-webkit-scrollbar-thumb:hover {
  background: #0d0d0d;
}
