/* Styling for "contact-page". */
@media (max-width: 768px) {
  .contactPagecontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #4a0644;
    padding: 30px;
    color: #f3ebeb;
    margin: 20px 10px 5px 10px;
    border-radius: 12px;
  }
  .contactPagecontainer span {
    font-weight: bold;
    color: rgb(168, 242, 165);
  }

  .contactform {
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 12px;
    background-color: #0e0d0d;
    color: #f3ebeb;
  }

  .formlabel {
    display: block;
    margin-bottom: 8px;
  }

  .forminput,
  .formtextarea {
    width: 90%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #f3ebeb;
    border-radius: 4px;
  }

  .sendbutton {
    background-color: #6c0964;
    color: #f3ebeb;
    padding: 10px 15px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
  }
}
/* Responsive design adjustments for larger screens  */
@media (min-width: 768px) {
  .headertext {
    width: 500px;
    line-height: 2rem;
  }

  .contactPagecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #4a0644;
    padding: 30px;
    color: #f3ebeb;
    font-size: 18px;
    margin: 20px 10px 20px 10px;
    border-radius: 12px;
  }
  .contactPagecontainer span {
    font-weight: bold;
    color: rgb(168, 242, 165);
  }

  .contactform {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    color: #f3ebeb;
    background-color: #0e0d0d;
  }

  .formlabel {
    display: block;
    margin-bottom: 5px;
  }

  .forminput,
  .formtextarea {
    width: 95%;
    padding: 8px;
    margin-bottom: 15px;
    margin-top: 15px;
    border: 1px solid #f3ebeb;
    border-radius: 4px;
  }

  .sendbutton {
    background-color: #6c0964;
    color: #f3ebeb;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .sendbutton:hover {
    background-color: #4a0644;
  }
}
