.mainContent--container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Popular items section with carousel */
.carousel-container {
  position: relative;
  width: 50%;
}

.carousel {
  display: flex;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  scroll-behavior: smooth;
  /* Hide scrollbar in IE. */
  -ms-overflow-style: none;

}


.carousel::-webkit-scrollbar {
  display: none;
}

.carousel__item {
  width: 100%;
  flex-shrink: 0;
  scroll-snap-align: start;
}

.carousel__image {
  display: block;
  width: 100%;
}

.controls {
  position: absolute;
  right: 0;
  bottom: 1em;
  left: 0;
  text-align: center;
}

.controls__dot {
  display: inline-block;
  width: 0.85em;
  height: 0.85em;
  border-radius: 50%;
  outline: none;
  background-color: #fff;
  opacity: 0.8;
  cursor: pointer;
  transition: opacity 0.2s;
  
  &:not(:first-child) {
    margin-left: 0.25em;
  }

  &:hover,
  &:focus {
    opacity: 1;
  }
}

/* Other styles */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


/* Category Section */
.carusel-categories {
  display: flex;
  justify-content: center;
  gap: 1rem;
  height: 200px;
  width: 90%;
}

.catergory-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: auto;
 height: 90%;
 background-color: gray;
 border: 1px solid black;
 border-radius: 20px;
}

.catergory-card > img {
  width: 90%;
}

/* Recommended Section */
.list-recommended {
  display: flex;
  justify-content: center;
  width: 30%;
}

.list-recommended > img {
  width: 100%;
  border: 1px solid black;
  border-radius: 32px;
  margin-bottom: 5px;
}