.headerContainer {
  padding: 15px;
  background: #0e0d0d;
  display: flex;
  justify-content: space-around;
  color: #f3ebeb;
}

.pagesList {
  margin-left: auto;
  text-decoration: none;
  list-style-type: none;
}

.pages {
  text-decoration: none;
  margin-right: 30px;
}
.userCart {
  display: flex;
  align-items: center;
  gap: 10px;
}
.searchHam {
  display: flex;
  gap: 10px;
}
.logo {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.logo h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 50px;
}
.logo p {
  margin-top: 0px;
}

@media (min-width: 768px) {
}
.cursorClicking {
  cursor: pointer;
}
