.headerContainer {
  padding: 30px;
  background: #0e0e0e;

  display: flex;
}

.pagesList {
  margin-left: auto;
  display: flex;
  list-style-type: none;
}

.pages {
  text-decoration: none;
  margin-right: 30px;
}
