/* Styling for the footer mobile first */
@media (max-width: 768px) {
  .footerContainer {
    text-align: center;
    padding: 15px;
    background-color: #0e0d0d;
    color: #f3ebeb;
    overflow: hidden;
  }
  .footerTitle {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .footerTitle h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 50px;
  }
  .footerTitle p {
    margin-top: 0;
  }
  /* Styling for Newsletter input/button */
  .newsletter input {
    padding: 0.5rem;
    border-radius: 15px 0 0 15px;
    outline: none;
    border: none;
    height: 100%;
  }
  .newsletter button {
    height: 100%;
    background-color: #6016c1;
    color: #f3ebeb;
    border-radius: 0 15px 15px 0;
    padding: 8px;
    border: none;
    transform: translateX(-10%);
  }
  .newsletter button:active {
    background-color: #3b0b79;
  }
  .custMembership {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  /* Styling for The social media icons */
  .footerIcons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .copyright {
    font-size: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
  }
}

/* Styling for responsive design larger screens */
@media (min-width: 768px) {
  .footerContainer {
    padding: 15px;
    background-color: #0e0d0d;
    color: #f3ebeb;
  }
  .footerTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Removed Logo/name for desktop version */
  .footerTitle h1 {
    display: none;
  }
  .footerTitle p {
    display: none;
  }

  /* Styling for Newsletter input/button */
  .newsletter {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin-right: 65px;
    font-size: 20px;
  }
  .newsletter input {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 15px 0 0 15px;
    outline: none;
    border: none;
  }
  .newsletter button {
    display: flex;
    justify-content: center;
    background-color: #4a0644;
    color: #f3ebeb;
    border-radius: 0 15px 15px 0;
    padding: 8px;
    border: none;
    transform: translateX(-15%);
  }
  .newsletter button:hover {
    background-color: #6a0862;
  }
  .custMembership {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  /* Styling for The social media icons */
  .footerIcons {
    display: flex;
    justify-content: center;
    height: 40px;
    gap: 30px;
  }
  .copyright {
    width: fit-content;
    font-size: 12px;
  }
}
