.footerContainer {
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 15px;
  background-color: #0e0d0d;
  color: #f3ebeb;
  overflow: hidden;
}
.footerTitle {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.footerTitle h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 50px;
}
.footerTitle p {
  margin-top: 0;
}
.newsletter {
  display: flex;
  justify-content: center;
}
.newsletter input {
  padding: 0.5rem;
  border-radius: 15px 0 0 15px;
  outline: none;
  border: 1px solid #f3ebeb;
}
.newsletter button {
  background-color: #6016c1;
  color: #f3ebeb;
  border-radius: 0 15px 15px 0;
  padding: 8px;
  border: none;
  transform: translateX(-10%);
}
.newsletter button:active {
  background-color: #3b0b79;
}
.custMembership {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footerIcons {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.copyright {
  font-size: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}
