.CrossOut {
  text-align: end;
  margin: 20px;
}
.MenuImg {
  width: 40px;
}
.Flexify {
  display: flex;
  flex-direction: column;
  background-color: #f3ebeb;
  text-align: start;
  border-bottom: 1px solid #0e0d0d;
}
.Flexify > h3,
h2 {
  margin: 0;
}
.Flexify > div {
  display: flex;
  padding-bottom: 10px;
  justify-content: center;
  gap: 5px;
}
.UserImg {
  width: 60px;
}
@media screen and (min-width: 768px) {
  .Flexify {
    font-size: 20px;
    gap: 10px;
  }
}
